*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}
#content{
	transition: margin-left 0.7s;
	overflow-x: hidden;
}
.nav{
	position:fixed;
	overflow-x: hidden;
	height: 100%;
	width: 0;
	background-color: #111;
	z-index: 1;
	top: 0;
	left: 0;
	padding-top:60px;
	transition: 0.7s
}
.nav a{
	text-decoration: none;
	font-size: 22px;
	padding: 20px 30px;
	display: block;
	color: #f1f1f1
}
.nav a:hover{
	color: blue;
	transition: 0.4s
}
.nav .fa-times{
	position: absolute;
	top:60px;
	right: 40px;
	font-size: 36px;
}
.slide .fa-bars{
	font-size: 36px;
	padding: 30px
}
.slide .fa-bars:hover{
	color: blue;
	transition: 0.4s
}
